* {
    box-sizing: border-box;
}

body {
    margin: 0rem;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    background-color: lightgray;
}

.polaris {
    width: 100%;
    aspect-ratio: 2;
    color: white;
    position: relative;
}

.hgroup {
    font: 400 60px 'Secular One', sans-serif;
    letter-spacing: .5rem;
    margin: 0 0 1rem;
}

.hgroup h1 {
    margin: 0;
}

.hgroup--absolute {
    position: absolute;
    top:0;
    right:0;
    text-align: end;
    margin: 3rem 4rem;
}

.hgroup--subheader {
    font: 400 24px 'Lora', serif;
    color: #fdce3f;
    margin: 0;
    letter-spacing: 1rem;
}

.planets {
    background: linear-gradient(-90deg,#180b22, #0e194a);
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    transition: left .9s;
}

.planets__solen {
    width: 10%;
    align-self: stretch;
    background: radial-gradient(circle at -340%, #FDCE3F 80%, transparent 81%);
    cursor: pointer;
    transition: left .9s;
    clip-path: circle(100% at -280%);
    transition: transform .2s;
}

.planets__solen:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.planets__planets {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    opacity: 1;
    position: relative;
}

.planets__planet {
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s;
}

.planets__planet:hover {
    transition: transform .2s;
}

.planetinfo {
    width: 100%;
    aspect-ratio: 2;
    height: 100%;
    position: absolute;
    right: -100vw;
    transition: right .9s, opacity 5s;
    display: flex;
    flex-direction: column;
    padding: 5rem 30vw 2rem 30vw;
    overflow: auto;
    opacity: 0;
}

.planetinfo hr {
    opacity: .3;
    margin: 2rem 0 1rem;
}

.planetinfo__para {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    letter-spacing: .1rem;
    margin-bottom:.2rem;
}

.planetinfo__info {
    display: flex;
    flex-wrap: wrap;
}

.planetinfo__info section {
    width: 50%;
    margin-top: 1rem;
}

.planetinfo h2 {
    margin: 0rem;
    font: 400 24px 'Secular One', sans-serif;
    letter-spacing: .4rem;
}

.planetinfo__moons {
    margin-top: 1rem;
}

.planetinfo__back {
    margin-top: auto;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:#fdce3f;
}

.fadeIn {
    transition: right .9s, opacity .1s;
    right: 0;
    opacity: 1;
}

.fadeOut {
    transition: left .9s;
    left: -100vw;
}

#saturnus-rings {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff55;
    clip-path: ellipse(50% 1.8%);
    transform:scale(1.4) rotate(-30deg);
}

footer {
    font: 12px Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width:1400px) {
    .planetinfo {
        padding: 2rem 10% 2rem 15%;
    }
    .hgroup--absolute {
        font-size: 30px;
    }
}
